blib/
_build/
cover_db/
inc/
Build
Build.bat
.last_cover_stats
Makefile
Makefile.old
MANIFEST.bak
META.yml
MYMETA.yml
nytprof.out
pm_to_blib

doc/alignment/
doc/pop/

.komodotools
.idea

*.tmp
*.xls
*.xlsx
*.csv
*.tsv
*.pdf
*.fa
*.fas
*.fasta
*.html
*.tree

*_test.yml

# LaTeX tmp
*.toc
*.aux
*.fdb_latexmk
*.fls
*.nav
*.out
*.snm
*.vrb
*(busy)
*.synctex.gz

# put any other files you don't want to check in here,
# such as .DS_Store (OSX), *.bak, etc.
.DS_Store
*.log
*.bak
*.swp
